*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--size);
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-display);
  line-height: 1;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
