:root {
  --size: 16px;

  --color-bg: rgb(39, 39, 57);
  --color-fg: rgb(255, 252, 228);
  --color-accent-air: #49C1C1;
  --color-accent-metal: #E3B023;
  --color-accent-earth: #54AA3F;
  --color-accent-fire: #DE6735;
  --color-accent-water: #327CD1;
  --color-bg-active: #faee5b;
  --color-fg-active: #675F2A;

  --transition-duration: 300ms;
  --transition-timing-function: ease;
  --font-family-display: DDCHardware, sans-serif;
  /*--font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;*/
  --font-family-base: Raleway, sans-serif;

  --font-weight-normal-base: 500;
  --font-weight-light-base: 300;

  --line-height-base: 2;
  --letter-spacing-base: 0;
}
