:root {
  --size: 16px;

  --color-bg: #272739;
  --color-fg: #FFFCE4;
  --color-accent-air: #49C1C1;
  --color-accent-metal: #E3B023;
  --color-accent-earth: #54AA3F;
  --color-accent-fire: #DE6735;
  --color-accent-water: #327CD1;

  --transition-duration: 300ms;
  --transition-timing-function: ease;
  --font-family-display: DDCHardware, sans-serif;
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --line-height-base: 2;
}
